


<script>
 import { onMount } from "svelte";
 
  const endpoint = "https://jsonplaceholder.typicode.com/posts";
  let posts = [];

  onMount(async function () {
    const response = await fetch(endpoint);
    const data = await response.json();
    console.log(data);
  	posts = data;


  });
 	

	export let name;
  	
	
</script>


<main>
<header>
    <a href="/">Svelte Weather</a>
</header>
  <h1>Helloo {name}!</h1>
  <p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>

  {#each posts as article}
    <div>
      <p>{article.title}</p>
    </div>
  {/each}
</main>

<style>
header {
        overflow: hidden;
        background-color: Black;
        font-family: Arial;
        text-align: center;
        padding: 1rem;
    }
    a {
            color: white;
            text-decoratiosn: none;
            cursor: pointer;
            font-size: 2rem;
        }
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>